.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  color: var(--primary-color);
  opacity: 0.7;
  transition: opacity 0.3s ease;
  z-index: 1000;

  &.scrolled {
    background: #000000c8;
    color: white;
    backdrop-filter: blur(3rem);
  }


  .content {
    width: 1220px;
    display: flex;
    align-items: center;
    padding: 0 20px;

    nav {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        font-size: 30px;
      }

      ul {
        display: flex;
        gap: 25px;

        @media screen and (max-width: 1000px) {
          display: none;
        }

        li {
          list-style: none;
        }
      }

      .socialLinks {
        gap: 15px;

        @media screen and (max-width: 1000px) {
          display: none;
        }
      }

      .item a {
        position: relative;
        display: inline-block;
        padding: 20px 10px;
        text-decoration: none;
        color: inherit;
        opacity: 0.9;
        transition: opacity 0.3s ease;

        &:hover {
          opacity: 1;
          font-weight: 700;
        }

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          height: 3px;
          width: 100%;
          background-color: currentColor;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.4s ease;
        }

        &:hover::after {
          transform: scaleX(1);
        }
      }

      .select {
        display: none;
        width: 200px;
        background: transparent;
        color: var(--primary-color);
        border: none;
        font-size: 16px;
        padding: 10px;
        outline: none;

        option {
          color: black; // para quando abrir o dropdown
          background: white;
        }

        @media screen and (max-width: 1000px) {
          display: block;
        }

        &.scrolled {
          color: white;
        }
      }

    }
  }
}